.App {
  margin: 0;
  text-align: center;
  background-image: url("/public/images/MovieBackground.jpg");
  background-size: cover;
}

h1 {
  margin: 0;
  color: whitesmoke;
}

p {
  color: white;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: large;
  border: 1.5px solid black;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  color: white;
  text-align: center;
  padding: 10px 0;    
}

h3 {
  margin: 0;
}

.footer-links {
  text-decoration: none;
  color: white;
  padding: 5px;
}